/* Commercial-making 스타일 */
.commercial-making {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 100px;
}

.commercial-making .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  width: 66.66%;
}

.commercial-making .gallery-item img {
  width: 100%;
  height: auto;
  border: 3px solid #222;
  border-radius: 10px;
  object-fit: cover;
}

.commercial-making .description {
  width: 33.33%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 반응형 디자인: 화면이 좁아질 때 그리드 개수 변경 */
@media (max-width: 768px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2열로 변경 */
  }
}

@media (max-width: 480px) {
  .photo-gallery {
    grid-template-columns: 1fr; /* 1열로 변경 */
  }
}
